.addNewContainer {
    width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.addNewEntry {
    height: 2.4rem;
    font-size: larger;
    display: grid;
    grid-template-columns: 6rem 10rem;
}

select {
    width: 100%;
}

#genre:invalid, #year:invalid {
    color: var(--color4);
}

option {
    color: var(--color4);
}

#submitStatusText {
    font-size: large;
    font-style: italic;
}

.submitFail {
    color: red;
}

.submitSuccess {
    color: var(--logoColor);
}

/* button {
    margin-bottom: 1.5rem;
} */